.card-title{
    text-transform: uppercase;
    font-weight: 600 !important;
}

.row > div {
    margin: 10px 0;
}

.container-heroes{
    margin: 0 !important;
    padding-top: 70px;
}
.cut-corners{
    position: relative;
    border-radius: 0 !important;
}
.alert{
    text-align: center;
}